@import url("https://fonts.googleapis.com/css?family=Rajdhani:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

body {
    color: #797979;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.667
}

/*======================================
//--//-->   NAVBAR
======================================*/

.navbar-b {
  transition: all .5s ease-in-out;
  background-color: #464646;
  padding-top: 4;
  padding-bottom: 4;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #fff;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #fff;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #444;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #444;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #444;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #444;
}

.navbar-b.navbar-reduce .navbar-brand {
  color: #444;
}

.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #444;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #444;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}

a:hover {
    text-decoration: none
}

button {
    cursor: pointer
}

button:focus {
    outline: 0;
    box-shadow: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rajdhani", sans-serif;
    color: #3a414e;
    line-height: 1.25
}

h1,
.h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2
}

@media (min-width: 600px) {

    h1,
    .h1 {
        font-size: 50px
    }
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
}

h2,
.h2 {
    font-size: 28px;
    font-weight: 700
}

@media (min-width: 1000px) {

    h2,
    .h2 {
        font-size: 36px
    }
}

h3,
.h3 {
    font-size: 20px;
    font-weight: 600
}

@media (min-width: 1000px) {

    h3,
    .h3 {
        font-size: 22px
    }
}

.pb-85px {
    padding-bottom: 45px
}

@media (min-width: 1000px) {
    .pb-85px {
        padding-bottom: 85px
    }
}

.section-margin {
    margin: 60px 0
}

@media (min-width: 1000px) {
    .section-margin {
        margin: 100px 0
    }
}

@media (min-width: 1200px) {
    .section-margin {
        margin: 135px 0
    }
}

.section-margin--medium {
    margin: 40px 0
}

@media (min-width: 800px) {
    .section-margin--medium {
        margin: 80px 0
    }
}

@media (min-width: 1200px) {
    .section-margin--medium {
        margin: 120px 0
    }
}

.section-padding {
    padding: 60px 0
}

@media (min-width: 1000px) {
    .section-padding {
        padding: 100px 0
    }
}

@media (min-width: 1200px) {
    .section-padding {
        padding: 135px 0
    }
}

.section-padding--small {
    padding: 60px 0
}

@media (min-width: 1000px) {
    .section-padding--small {
        padding: 100px 0
    }
}

.bg-magnolia {
    background: #faf9ff
}

.header_area {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: background 0.4s, all 0.3s linear
}

.header_area {
    min-width: 200px;
    text-align: right
}

@media (max-width: 991px) {
    .header_area {
        margin: 20px 0
    }
}

.header_area {
    margin-right: 30px
}

.header_area {
    min-width: 95px;
    float: right
}

.header_area {
    margin-right: 12px
}

.header_area li i,
.header_area li span {
    font-size: 13px;
    color: #3d3d3d
}

.header_area li:last-child {
    margin-right: 0
}

.header_area li a:hover i,
.header_area li span {
    color: #3d3d3d
}

.header_area {
    width: 100%
}

.header_area {
    background: transparent;
    padding: 5px 0;
    border: 0px;
    border-radius: 0px;
    width: 100%
}

@media (min-width: 991px) {
    .header_area  {
        padding: 20px 0
    }
}

.header_area {
    margin-right: 30px
}

.header_area {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 700;
    display: inline-block
}

.header_area {
    display: none
}

.header_area,
.header_area {
    color: #fff;
    opacity: .75
}

.header_area {
    position: relative
}

.header_area ul {
    border: none;
    padding: 0px;
    border-radius: 0px;
    box-shadow: none;
    margin: 0px;
    background: #fff
}

@media (min-width: 992px) {
    .header_area {
        position: absolute;
        top: 120%;
        left: 0px;
        min-width: 200px;
        text-align: left;
        opacity: 0;
        transition: all 300ms ease-in;
        visibility: hidden;
        display: block;
        border: none;
        padding: 0px;
        border-radius: 0px;
        box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.4)
    }
}

.header_area ul:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #eeeeee transparent transparent transparent;
    position: absolute;
    right: 24px;
    top: 45px;
    z-index: 3;
    opacity: 0;
    transition: all 400ms linear
}

.header_area {
    display: block;
    float: none;
    margin-right: 0px;
    border-bottom: 1px solid #ededed;
    margin-left: 0px;
    transition: all 0.4s linear
}

.header_area {
    line-height: 45px;
    color: #3d3d3d !important;
    padding: 0px 30px;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px
}

.header_area {
    border-bottom: none
}

.header_area {
    background-color: #e9e9e9;
    color: #fff !important
}

@media (min-width: 992px) {
    .header_area ul {
        visibility: visible;
        opacity: 1;
        top: 100%
    }
}

.header_area ul {
    margin-top: 0px
}

.header_area {
    margin-right: 0px
}

.top_menu {
    background: #ec9d5f
}

.top_menu .float-left a {
    line-height: 40px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.top_menu .float-left a:last-child {
    margin-right: 0px
}

.top_menu .float-right .pur_btn {
    color: #fff;
    line-height: 40px;
    display: block;
    padding: 0px 40px;
    font-weight: 500;
    font-size: 12px
}

@media (max-width: 1199px) {

    .home_banner_area .banner_inner {
        padding: 100px 0px
    }

    .header_area .tickets_btn {
        margin-left: 40px
    }

    .home_banner_area .banner_inner .banner_content h2 br {
        display: none;
        font-size: 36px
    }

    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 36px;
        line-height: 45px
    }
}

@media (max-width: 991px) {

    .header_area+section,
    .header_area+row,
    .header_area+div {
        margin-top: 117px
    }

    .header_area+section,
    .header_area+row,
    .header_area+div {
        margin-top: 41px
    }

    .home_banner_area .banner_inner .banner_content .banner_map_img {
        display: none
    }

    .single-post-area .blog_right_sidebar {
        margin-top: 30px
    }

    .contact_info {
        margin-bottom: 50px
    }

    .home_banner_area .donation_inner {
        margin-bottom: -30px
    }

    .home_banner_area .dontation_item {
        max-width: 350px;
        margin: auto
    }

    .footer_area .col-sm-6 {
        margin-bottom: 30px
    }

    .footer_area .footer_inner {
        margin-bottom: -30px
    }

    .news_widget {
        padding-left: 0px
    }

    .home_banner_area .banner_inner .home_left_img {
        display: none
    }

    .header_area .tickets_btn {
        display: none
    }

    .home_banner_area .banner_inner {
        padding: 70px 0px 100px 0px
    }

    .left_side_text {
        margin-bottom: 50px
    }
}

@media (max-width: 767px) {
    .home_banner_area {
        min-height: 500px
    }

    .home_banner_area .banner_inner {
        min-height: 500px
    }

    .home_banner_area .banner_inner .banner_content {
        margin-top: 0px
    }

    .blog_banner .banner_inner .blog_b_text h2 {
        font-size: 40px;
        line-height: 50px
    }

    .blog_info.text-right {
        text-align: left !important;
        margin-bottom: 10px
    }

    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 30px
    }

    .home_banner_area .banner_inner .banner_content p br {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h3 span {
        line-height: 45px;
        padding-bottom: 0px;
        padding-top: 0px
    }

    .footer-bottom {
        text-align: center
    }

    .footer-bottom .footer-social {
        text-align: center;
        margin-top: 15px
    }

    .made_life_inner li {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px
    }

    .made_life_inner {
        margin-bottom: -15px
    }

    .made_life_area.made_white .left_side_text {
        margin-bottom: 0px;
        margin-top: 30px
    }
}

@media (max-width: 575px) {
    .top_menu {
        display: none
    }

    .header_area+section,
    .header_area+row,
    .header_area+div {
        margin-top: 51px
    }

    .home_banner_area .banner_inner .banner_content h2 {
        font-size: 28px;
        line-height: 38px
    }

    .home_banner_area {
        min-height: 450px
    }

    .home_banner_area .banner_inner {
        min-height: 450px
    }

    .blog_banner .banner_inner .blog_b_text {
        margin-top: 0px
    }

    .home_banner_area .banner_inner .banner_content img {
        display: none
    }

    .home_banner_area .banner_inner .banner_content h5 {
        margin-top: 0px
    }

    .p_120 {
        padding-top: 70px;
        padding-bottom: 70px
    }

    .main_title h2 {
        font-size: 25px
    }

    .sample-text-area {
        padding: 70px 0 70px 0
    }

    .footer-area {
        padding: 70px 0px
    }

    .pad_top {
        padding-top: 70px
    }

    .pad_btm {
        padding-bottom: 70px
    }
}

@media (max-width: 480px) {
    .header_area {
        max-height: 250px
    }

    .home_banner_area .banner_inner .banner_content {
        padding: 30px 15px;
        margin-top: 0px
    }

    .banner_content .white_btn {
        display: block
    }

    .home_banner_area .banner_inner .banner_content h3 {
        font-size: 24px
    }

    .banner_area .banner_inner .banner_content h2 {
        font-size: 32px
    }

    .comments-area .thumb {
        margin-right: 10px
    }

    .testi_item .media .d-flex {
        padding-right: 0px
    }

    .testi_item .media .d-flex img {
        width: auto;
        margin-bottom: 15px
    }

    .testi_item .media {
        display: block
    }

    .banner_btn {
        margin-bottom: 20px
    }
}

.hero-banner {
    position: relative;
    background: #3d3d3d;
    background-size: cover;
    padding: 90px 0 60px 0;
    z-index: 1
}

@media (min-width: 600px) {
    .hero-banner {
        padding: 150px 0 120px 0
    }
}

@media (min-width: 991px) {
    .hero-banner {
        padding: 175px 0 160px 0
    }
}

@media (min-width: 1200px) {
    .hero-banner {
        padding: 265px 0 275px 0
    }
}

.hero-banner__img {
    position: relative
}

@media (min-width: 1200px) {
    .hero-banner__img img {
        position: absolute;
        top: 0;
        left: -110px
    }
}

.hero-banner__content h1 {
    color: #fff;
    margin-bottom: 22px
}

.hero-banner__content p {
    color: #fff;
    margin-bottom: 45px
}

.hero-banner::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: url(../img/banner/banner-bg.png) left center no-repeat;
    background-size: cover;
    z-index: -1
}

.hero-banner--sm {
    padding: 0;
    height: 300px
}

.hero-banner--sm::after {
    height: 100%
}

@media (min-width: 1000px) {
    .hero-banner--sm {
        height: 500px
    }
}

.hero-banner--sm__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
    text-align: center
}

@media (min-width: 600px) {
    .hero-banner--sm__content {
        margin-top: 40px
    }
}

.hero-banner--sm__content>* {
    color: #fff
}

.hero-banner--sm__content h3 {
    font-size: 27px;
    margin-bottom: 0
}

.hero-banner--sm__content h1 {
    margin-bottom: 10px
}

.hero-banner--sm__content h4 {
    font-size: 18px
}

.banner-breadcrumb {
    display: inline-block
}

.banner-breadcrumb .breadcrumb {
    background: transparent;
    padding: 0
}

.banner-breadcrumb .breadcrumb-item {
    padding: .1rem
}

.banner-breadcrumb .breadcrumb-item a {
    text-transform: capitalize;
    color: #fff
}

.banner-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    color: #fff;
    padding-left: .2rem;
    padding-right: .4rem
}

.banner-breadcrumb .breadcrumb-item.active {
    color: #fff
}

.section-intro {
    max-width: 630px;
    margin-right: auto;
    margin-left: auto
}

.section-intro__title {
    font-weight: 700;
    color: #3a414e;
    margin-bottom: 10px
}

.section-intro__subtitle {
    font-size: 15px;
    color: #797979;
    margin-bottom: 0
}

.card-feature {
    padding: 30px 35px;
    border: 0;
    border-radius: 0;
    background: #faf9ff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.card-feature__icon {
    margin-bottom: 12px
}

.card-feature__icon i,
.card-feature__icon span {
    font-size: 30px;
    color: #3d3d3d
}

.card-feature__title {
    font-size: 22px;
    font-weight: 600
}

.card-feature__subtitle {
    margin-bottom: 0
}

.card-feature:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(33, 20, 106, 0.1)
}

.about__content h2 {
    margin-bottom: 20px
}

.about__content p {
    margin-bottom: 38px
}

.offer-single {
    margin-bottom: 30px
}

@media (min-width: 991px) {
    .offer-single {
        margin-bottom: 50px
    }
}

.offer-single__content {
    border: 0;
    border-radius: 0;
    background: #faf9ff;
    padding: 30px 23px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s
}

.offer-single__content h4 {
    font-size: 22px;
    font-weight: 600
}

.offer-single__content p {
    margin-bottom: 0
}

.offer-single__content:hover {
    background: #fff;
    box-shadow: 0px 10px 20px 0px rgba(33, 20, 106, 0.1)
}

.offer-single__icon {
    display: inline-block;
    margin-bottom: 15px
}

.offer-single__icon i,
.offer-single__icon span {
    font-size: 30px;
    color: #3d3d3d
}

@media (min-width: 991px) {
    .offer-single__img {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%)
    }
}

@media (min-width: 991px) and (min-width: 1200px) {
    .offer-single__img {
        transform: translateY(0);
        top: 50px;
        left: 100px
    }
}

@media (min-width: 991px) {
    .offer-single-wrapper .offer-single:nth-child(even) {
        position: relative;
        top: 40px
    }
}

@media (min-width: 1200px) {
    .solution__img {
        position: relative;
        left: -60px
    }
}

@media (min-width: 1200px) {
    .solution__content {
        padding-left: 30px;
        padding-right: 45px
    }
}

.solution__content h2 {
    margin-bottom: 20px
}

.solution__content p {
    margin-bottom: 30px
}

.about_us .about_img:after {
    content: '';
    position: absolute;
    top: 30px;
    bottom: -5px;
    left: -10px;
    right: -10px;
    z-index: 1
}

@media (max-width: 1024px) {
    .about_us .about_img:after {
        background: #fff
    }
}

.about_us .about_img img {
    position: relative;
    z-index: 2;
    box-shadow: 0px 13px 35px #c9c9c9
}

.about_us .content_wrapper {
    padding: 25px 0
}

.about_us .content_wrapper h1 {
    margin-bottom: 40px
}

.about_us .content_wrapper .main_btn {
    margin-top: 50px
}

.about_us .bottom_para {
    margin-top: 50px
}

.button {
    display: inline-block;
    border: 1px solid transparent;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 24px;
    border-radius: 30px;
    background-color: rgb(88, 88, 88);
    color: #919191;
    color: #FFFFFF;
    transition: all .4s ease
}

.button i,
.button span {
    margin-left: 5px
}

@media (min-width: 900px) {
    .button {
        padding: 12px 45px
    }
}

.button:hover {
    background-color: transparent;
    border-color: #919191;
    color: #919191
}

.button-header {
    padding: 12px 40px
}

.button.bg:hover {
    border-color: #acaaaa;
    color: #acaaaa
}

.button-light {
    background-color: transparent;
    border-color: #3d3d3d
}

.button-light:hover {
    background-color: #acaaaa;
    color: #acaaaa
}

.button-blog {
    border: 1px solid #3d3d3d;
    border-radius: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    color: #222222;
    padding: 7px 30px
}

.button-blog:hover {
    background-color: #3d3d3d;
    color: #fff
}

.button-postComment {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 4px;
    padding: 14px 45px
}

.button-contactForm {
    font-size: 15px;
    background-color: #3d3d3d;
    color: #fff;
    padding: 12px 36px
}

.button-contactForm:hover {
    border-color: #3d3d3d;
    color: #3d3d3d
}

.footer-area {
    padding: 120px 0px 120px;
    background: #0e1424
}

@media (max-width: 991px) {
    .footer-area {
        padding: 60px 0px
    }
}

@media (max-width: 991px) {
    .footer-area .single-footer-widget {
        margin-bottom: 30px
    }
}

.footer-area .single-footer-widget p {
    color: #7b838a
}

.footer-area .single-footer-widget h4 {
    color: #fff;
    font-size: 22px;
    margin-bottom: 25px;
    font-weight: 600
}

@media (max-width: 1024px) {
    .footer-area .single-footer-widget h4 {
        font-size: 18px
    }
}

@media (max-width: 991px) {
    .footer-area .single-footer-widget h4 {
        margin-bottom: 15px
    }
}

.footer-area .single-footer-widget ul li {
    margin-bottom: 10px
}

.footer-area .single-footer-widget ul li a {
    color: #797979
}

.footer-area .single-footer-widget .form-wrap {
    margin-top: 25px
}

.footer-area .single-footer-widget input {
    height: 48px;
    border: none;
    width: 67% !important;
    font-weight: 400;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    padding-left: 20px;
    border-radius: 0;
    font-size: 14px;
    padding: 10px
}

.footer-area .single-footer-widget input:focus {
    outline: none;
    box-shadow: none
}

.footer-area .single-footer-widget input.placeholder {
    padding-left: 10px;
    color: #797979
}

.footer-area .single-footer-widget input:-moz-placeholder {
    padding-left: 10px;
    color: #797979
}

.footer-area .single-footer-widget input::-moz-placeholder {
    padding-left: 10px;
    color: #797979
}

.footer-area .single-footer-widget input::-webkit-input-placeholder {
    padding-left: 10px;
    color: #797979
}

.footer-area .single-footer-widget .click-btn {
    font-family: "Roboto", sans-serif;
    color: #3a414e;
    border-radius: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 8px 20px;
    border: 0;
    font-size: 14px;
    background: #fff;
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    left: 0
}

.footer-area .single-footer-widget .click-btn:focus {
    outline: none;
    box-shadow: none
}

@media (max-width: 375px) {
    .footer-area .single-footer-widget .click-btn {
        margin-top: 10px
    }
}

@media (min-width: 400px) {
    .footer-area .single-footer-widget .click-btn {
        left: -50px
    }
}

.footer-area .footer-bottom {
    margin-top: 70px
}

@media (max-width: 991px) {
    .footer-area .footer-bottom {
        margin-top: 20px
    }
}

.footer-area .footer-bottom p {
    color: #797979
}

.footer-area .footer-bottom p a {
    color: #fff
}

.footer-area .footer-bottom .footer-social {
    text-align: center
}

@media (max-width: 991px) {
    .footer-area .footer-bottom .footer-social {
        text-align: left;
        margin-top: 30px
    }
}

.footer-area .footer-bottom .footer-social a {
    background: #3d3d3d;
    margin-left: 3px;
    width: 32px;
    color: #fff;
    display: inline-grid;
    text-align: center;
    height: 32px;
    align-content: center
}

.footer-area .footer-bottom .footer-social a:hover {
    background: #fff;
    color: #3d3d3d
}

.footer-area .footer-bottom .footer-social a i,
.footer-area .footer-bottom .footer-social a span {
    font-size: 14px
}
